# Ignorar arquivos de cache do sistema
.DS_Store
Thumbs.db

# Pasta de dependências do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs e arquivos temporários
logs/
*.log
*.tmp
debug.log
*.pid
*.seed
*.swp

# Configurações de ambiente e credenciais
.env
config.json



# Cookies do Instagram (NÃO SUBIR NO GITHUB)
backend/instagram_cookies.txt

# Cache do sistema e arquivos do Git
.git/
.idea/
.vscode/
